<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :list, class: 'form-label' %>
      <%= form.text_field :list, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :postition, class: 'form-label' %>
      <%= form.number_field :postition, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if card.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', card, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if card.persisted? %>
      <%= link_to "Cancel", card, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", cards_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
